{
    "presets": [
        "stage-3",
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            },
            "modules": false
        }]
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"],
                "alias": {
                    "actions": "./src/actions",
                    "config": "./src/config",
                    "constants": "./src/constants",
                    "reducers": "./src/reducers",
                    "sagas": "./src/sagas",
                    "services": "./src/services",
                    "store": "./src/store",
                }
            },
            "transform-function-bind",
            "transform-export-extensions",
            "external-helpers"
        ]
    ]
}
