{
    "presets": [
        "stage-3",
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            },
            "modules": false
        }]
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "background_actions": "./src/background/actions",
                    "background_config": "./src/background/config",
                    "background_constants": "./src/background/constants",
                    "background_reducers": "./src/background/reducers",
                    "background_sagas": "./src/background/sagas",
                    "background_services": "./src/background/services",
                    "background_store": "./src/background/store",
                }
            }
        ],
        "transform-function-bind",
        "transform-export-extensions",
        "external-helpers"
    ]
}
